<main>
  <div class="container">
    <section class="row">
      <header>
        <ul class="links">
          <li><a class="active" href="">Colecciones</a></li>
          <li><a href="">Nuevos Productos</a></li>
          <li><a href="">Artistas mas vendidos</a></li>
          <li><a href="">Especiales</a></li>
        </ul>
      </header>
      <div class="content col-md-10 nopadding">
        <div class="col-md-7 nopadding">
          <div class="big-image"> </div>
        </div>
        <div class="col-md-5">
          <div class="small-image"></div>
          <div class="small-image"></div>
        </div>
      </div>
    </section>
    <% 4.times do %>
        <section class="row">
          <header>
            <ul class="links">
              <li><a class="active" href="">Colecciones</a></li>
              <li><a href="">Nuevos Productos</a></li>
              <li><a href="">Artistas mas vendidos</a></li>
              <li><a href="">Especiales</a></li>
            </ul>
          </header>
          <div class="content col-md-10 nopadding">
            <% 2.times do %>
                <div class="content-row">
                  <div class="row">
                    <% 6.times do %>
                        <div class="col-md-2">
                          <article>
                            <%= image_tag 'articles.jpg' %>
                            <div class="title">La Mona Lisa</div>
                            <div class="price">$50.00 usd</div>
                            <div class="old-price">$72.00 usd</div>
                            <div class="action">
                              <button>
                                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
<i class="fa fa-camera-retro fa-lg"></i>
                              </button>
                            </div>
                          </article>
                        </div>
                    <% end %>
                  </div>
                </div>
            <% end %>
          </div>
        </section>
    <% end %>
  </div>
</main>
