@font-face {
  font-family: 'gillsans-light';
  src: font-url('gillsans-light.eot?') format('eot'),
  font-url('gillsans-light.svg') format('svg'),
  font-url('gillsans-light.ttf') format('truetype'),
  font-url('gillsans-light.woff') format('woff');
}

@font-face {
  font-family: 'gillsans-semibold';
  src: font-url('gillsans-semibold.eot?') format('eot'),
  font-url('gillsans-semibold.svg') format('svg'),
  font-url('gillsans-semibold.ttf') format('truetype'),
  font-url('gillsans-semibold.woff') format('woff');
}

@font-face {
  font-family: 'gillsans';
  src: font-url('gillsans.ttf') format('truetype')
}

@font-face {
  font-family: 'gouldyold-regular';
  src: font-url('gouldyold-regular.ttf') format('truetype')
}

@font-face {
  font-family: 'gouldyold-bold';
  src: font-url('gouldyold-bold.ttf') format('truetype')
}

@font-face {
  font-family: 'gouldyold-italic';
  src: font-url('gouldyold-italic.ttf') format('truetype')
}