// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul.links {
  padding: 0;
  list-style: none;
  margin-bottom: 0;
  li {
    display: inline;
    a {
      padding-right: 30px;
      font-size: .875rem;
      color: $dark-gray-color;
      &.active {
        font-size: 2.8125rem;
      }
      &:hover,
      &:focus {
        color: $orange-color;
        text-decoration: none;
      }
    }
  }
}

main {
  flex: 1;
  section {
    padding: 30px 0;

    &:not(:last-child) {
      border-bottom: solid 1px $dark-gray-color;
    }
    .content-row {
      padding-top: 25px;

      &:not(:last-child) {
        border-bottom: solid 1px $dark-gray-color;
        padding-bottom: 25px;
      }

    }

  }
}

.img {
  border: solid 1px;
  overflow: hidden;
  position: relative;

  &.big {
    width: 100%;
    height: 460px;
  }

  &.small {
    width: 70%;
    height: 215px;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  .data {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    font-family: 'gouldyold-bold', serif;
    font-weight: bold;
    padding: 15px;
    background: linear-gradient(transparent, black);
    width: 100%;
    .title {
      font-size: 1.8rem;
    }
    .author {
      font-size: 1.2rem;
      font-family: gillsans-semibold;
    }
  }
}

article {
  .title {
    font-family: 'gillsans-semibold', serif;
    text-transform: uppercase;
    padding: 15px 0 5px;
  }
  .price {
    font-size: 1.125rem;
    &.before {
      text-decoration: line-through;
      color: $orange-color;
    }
  }
  sub {
    font-family: gillsans-light;
    text-transform: uppercase;
    padding-left: 5px;
  }
  .action {
    text-align: center;
    margin-top: 15px;
    img {
      width: 25px;
    }
  }
}
