// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

main {
  flex: 1;
  section {
    header {
      padding: 5px 0 0 15px;
      @media(min-width: 768px) {
        padding: 35px 0 0 0;
      }
      ul.links {
        padding: 0;
        list-style: none;
        margin-bottom: 0;
        li {
          display: inline;
          a {
            padding-right: 25px;
            @media(min-width: 768px) {
              padding-right: 30px;
            }
            font-size: 1rem;
            color: $dark-gray-color;
            &.active {
              line-height: 1;
              font-size: 2rem;

              @media(min-width: 768px) {
                font-size: 2.8125rem;
              }

            }
            &:hover,
            &:focus {
              color: $orange-color;
              text-decoration: none;
            }
          }
        }
      }
    }

    &:not(:last-child) {
      border-bottom: solid 1px $dark-gray-color;
    }
    .content {
      @media(min-width: 768px) {
        padding-left: 0;
      }
      .content-row {
        @media(min-width: 992px) {
          &:not(:last-child) {
            border-bottom: solid 1px $dark-gray-color;
          }
        }
      }
    }
    &.main_section {
      header {
        margin-bottom: 20px;
      }
      padding-bottom: 40px;
    }

  }
}

article {
  &.home-product {
    margin: 25px 0;
    figure {
      position: relative;
    }
    .title {
      font-family: 'gillsans-semibold', serif;
      text-transform: uppercase;
      padding: 15px 0 5px;
    }
    .author {
      padding-top: 15px;
      font-size: 1.125rem;
    }
    .cant_selled {
      font-family: 'gillsans-semibold', serif;
      font-size: .9rem;
    }
    .price {
      font-size: 1.125rem;
      &.before {
        text-decoration: line-through;
        color: $orange-color;
      }
    }
    sub {
      font-family: gillsans-light;
      text-transform: uppercase;
      padding-left: 5px;
    }
    .action {
      text-align: center;
      margin-top: 15px;
      img {
        width: 25px;
      }
    }
  }
  &.promo-product {

    .img {
      border: solid 1px;
      overflow: hidden;
      position: relative;

    }
    &.big {
      .img {
        width: 100%;
        @media(min-width: 768px) {
          height: 460px;
        }
      }
    }

    &.small {

      width: 48%;
      float: left;
      margin-top: 25px;

      .picture_title {
        display: none;
        @media(min-width: 768px) {
          display: block;
        }
      }

      @media(min-width: 768px) {
        width: 100%;
        float: none;
        margin-top: 0;
        padding-left: 30px;
      }

      .img {
        width: 100%;
        @media(min-width: 768px) {
          height: 215px;
        }
        @media(min-width: 992px) {
          width: 70%;
        }
      }
      &:not(:last-child) {
        margin-bottom: 0;
        margin-right: 4%;

        @media(min-width: 768px) {
          margin-right: 0;
          margin-bottom: 30px;
        }
      }
    }
  }
  .data {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    font-family: 'gouldyold-bold', serif;
    font-weight: bold;
    padding: 15px;
    background: linear-gradient(transparent, black);
    width: 100%;
    .picture_title {
      font-size: 1.8rem;
      line-height: 1;
    }
    .picture_author {
      font-size: 1.2rem;
      font-family: gillsans-semibold;
    }
  }

}
