@import "variables";

.allcuban-masthead {
  background-color: white;
  nav {
    float: right;
    padding-top: 20px;
    ul {
      display: inline;
      margin: 0;
      li {
        display: inline;
        a {
          color: $orange-color;
          font-family: gillsans-light;
          font-size: .875rem;;
          padding: 25px;
          &:hover,
          &:focus {
            color: $dark-gray-color;
            text-decoration: none;
          }
        }
        &:not(:last-child) {
          &::after {
            content: '|';
            color: $orange-color;
            font-size: 0.8rem;
          }
        }
        form {
          display: inline;
          padding: 0 15px;
        }
      }
    }
  }
}

html {
  font-size: 16px;
}

body {
  font-family: 'gouldyold-bold', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.42857143;
  color: $dark-gray-color;
  background-color: #fff;

  a {
    cursor: pointer;
  }
}

* {
  box-sizing: border-box;
}

.logo {
  img {
    width: 50%;
    margin-bottom: 25px;
  }
}

nav.main-nav {
  padding-right: 20%;
  width: 100%;
}

.allcuban-main-nav {
  margin-bottom: 35px;
  .allcuban-nav {
    padding: 15px 0;

    nav {
      a {
        display: inline-block;
        width: 20%;
        color: white;
        text-transform: uppercase;
        padding-right: 20%;
        font-size: 1.125rem;

        &:hover,
        &:focus {
          color: $orange-color;
          text-decoration: none;
        }
      }
    }
  }
  .left-nav {
    background: $dark-gray-color;
    float: left;
    width: 64%;
  }
  .right-nav {
    border-left: solid 5px white;
    background-color: $light-gray-color;
    float: right;
    width: 35%;

    ul {
      display: inline;
      float: right;
      margin: 0;

      li {
        display: inline;
        a {
          color: white;
          padding-right: 1rem;
          font-size: 1.125rem;

          &:hover,
          &:focus {
            color: $orange-color;
            text-decoration: none;
          }
        }
        &:last-child {
          &::before {
            content: '|';
            color: white;
            padding-right: 1.6rem;
            font-size: 1.125rem;
          }
        }
      }
    }
  }
}

.left-column {
  float: left;
  margin-left: 7.7%;
}

#form_search {
  input {
    height: 1.2rem;
    background: #aeadb3;
    border: none;
    color: $dark-gray-color;
    font-family: gillsans-light;
    margin: 0;
    padding: 0;
    width: 70px;
  }
  a {
    color: $dark-gray-color;
  }
}

#set_locale {
  background: white;
  border: none;
  font-size: .875rem;
  color: $orange-color;
  font-family: gillsans-light;
}

form {
  display: inline;
  ::-webkit-input-placeholder {
    color: $dark-gray-color;
  }
  :-moz-placeholder {
    /* Firefox 18-*/
    color: $dark-gray-color;
  }
  ::-moz-placeholder {
    /* Firefox 19+*/
    color: $dark-gray-color;
  }
  :-ms-input-placeholder {
    color: $dark-gray-color;
  }
}

.right-column {
  float: right;
  width: 100%;
  padding: 0 15px 0 35px;
}

.nopadding {
  padding-left: 0 ! important;
}

.nopadding-r {
  padding-right: 0 ! important;
}

footer {
  color: white;
  text-align: center;
  background-color: $orange-color;
  padding-bottom: 60px;
  margin-top: 60px;

  h1 {
    padding: 0;
    margin: 40px 0;
    text-align: left;
    text-transform: capitalize;
    font-size: 1.75rem;
  }

  ul {
    text-align: left;
    list-style: none;
    padding: 0;

    li {
      color: white;
      font-family: gillsans-light;
      line-height: 2rem;
      text-transform: uppercase;

      a {
        color: white;
        &:hover,
        &:focus {
          color: $dark-gray-color;
          text-decoration: none;
        }
      }
    }
  }
  .newsletter {

    float: left;
    width: 100%;

    h1 {
      margin-bottom: 20px;
    }

    form {
      float: left;
      width: 80%;
      position: relative;

      @media(min-width: 992px) {
        margin-left: -15px;
      }

      input {
        border: none;
        height: 2rem;
        width: 100%;
        color: $dark-gray-color;
        font-family: gillsans-light;
        padding: 0 35px 0 15px;
        left: 0
      }
    }
  }
  .contact-info {
    border: solid 1px;
    padding: 25px 20px;
    margin-top: 25px;

    @media(min-width: 992px) {
      margin-left: -15px;
    }

    ul {
      li {
        a {
          text-transform: none;
        }
        i {
          margin-right: 15px;
        }
      }
    }

  }

  .copyright {
    @media(min-width: 992px) {
      margin-left: -15px;
    }
    .logo_footer {
      margin-top: 35px;
      img {
        width: 215px;

        @media(min-width: 992px) {
          width: 415px;
          float: left;
        }
      }
    }
    .copyright_note {
      p {
        margin: 0;
        font-family: gillsans-light;
        font-size: .875rem;
        text-transform: uppercase;
        padding-top: 35px;

        @media(min-width: 768px) {
          text-align: right;
          padding-top: 119px;
        }
        @media(min-width: 992px) {
          padding-top: 112px;
        }

        i {
          margin: 0 8px;
          font-size: .1rem;
          vertical-align: middle;
        }
        span {
          font-family: gillsans-semibold;
        }
      }
    }

  }
}

body {

  display: flex;
  flex-flow: column;
  min-height: 100vh;

}

img {
  width: 100%;
  max-width: 100%;
}

.allcuban-chevron-icon {
  position: absolute;
  right: 30px;
  top: 2px;
  cursor: pointer;
  color: $light-gray-color;
  i {
    &.fa-chevron-right {
      position: absolute;
      top: 6px;
      left: 8px;
    }
    &.fa-circle-o {
      font-size: 1.8rem;
      position: absolute;
    }
  }
}

.status-area {
  margin-top: 2.1rem;

  span {
    margin-left: 35px;
    font-family: gillsans-light;
    font-style: italic;
  }
}

#all_cuban_navbar {
  .navbar-brand img {
    width: 70%;
  }
  ul {
    list-style: none;
  }
  .navbar-nav > li {
    &.limit {
      padding: 15px;
      div {
        border-top: solid 1px #e7e7e7;
      }
    }
    a {
      color: $dark-gray-color;
      font-family: 'gillsans-semibold';
      &:hover {
        color: $orange-color;
      }
      &.main {
        text-transform: uppercase;
      }
    }
  }
}

#xs-sub-menu {
  width: 100%;
  padding: 0 15px;
  label {
    font-family: 'gillsans-semibold';
  }
  #form_search input {
    height: 1.2rem;
    background: white;
    border: solid 1px gray;
    color: #5b5b5f;
    font-family: gillsans-light;
    margin: 0;
    padding: 15px;
    width: 90%;
    display: inline-block;
    border-radius: 6px;
    margin-right: 5px;
  }
  ul {
    padding: 0;
    margin: 0;
    margin-top: 25px;
    text-align: center;
    padding-top: 25px;
    border-top: solid 1px #e7e7e7;
    li {

      display: inline;
      padding: 15px;
      font-size: 1.5rem;
      a {
        color: $dark-gray-color;
        &:hover {
          color: $orange-color;
        }
      }
    }
  }
}

