@import "variables";

.allcuban-masthead {
  background-color: white;
  nav {
    float: right;
    padding: 15px 0;

    a {
      padding: 0 25px;
      color: $orange-color;
      font-family: gillsans-light;
      font-size: .875rem;;
      &:not(:last-child) {
        border-right: solid 1px;
      }
    }
    form{
      display: inline;
      padding: 0 15px;
    }

  }
}

html {
  font-size: 16px;
}

body {
  font-family: 'gouldyold-bold', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.42857143;
  color: $dark-gray-color;
  background-color: #fff;
}

* {
  box-sizing: border-box;
}

.logo {
  img {
    width: 50%;
    margin-bottom: 25px;
  }
}
nav.main-nav {
  padding-right: 20%;
}
.allcuban-main-nav {

  nav {
    a {
      display: inline-block;
      width: 20%;
      color: white;
      text-transform: uppercase;
      padding-right: 20%;
      font-size: 1.125rem;
    }
  }
  .allcuban-nav {
    padding: 15px 0
  }
  .left-nav {
    background: $dark-gray-color;
    float: left;
    width: 64%;
  }
  .right-nav {
    border-left: solid 5px white;
    background-color: $light-gray-color;
    float: right;
    width: 35%;
  }
}

.left-column {
  float: left;
  margin-left: 7.7%;
}

.right-column {
  float: left;
  width: 85%;
}

.nopadding {
  padding-left: 0 ! important;
}

.nopadding-r {
  padding-right: 0 ! important;
}

footer {
  color: white;
  text-align: center;
  background-color: $orange-color;
  padding-bottom: 40px;
  margin-top: 60px;
  h1 {
    padding: 0;
    margin: 40px 0;
    text-align: left;
    text-transform: capitalize;
  }

  ul {
    text-align: left;
    list-style: none;
    padding: 0;
    li {
      a {
        color: white;
        font-family: gillsans-light;
        line-height: 2rem;
        text-transform: uppercase;
      }
    }
  }
  .contact-info {
    border: solid 1px;
    padding: 25px 20px;
    margin-top: 25px;
    ul {
      li {
        a {
          text-transform: none;
          i {
            margin-right: 15px;
          }
        }
      }
    }

  }
  .copyright {
    position: relative;
    img {
      width: 30%;
      float: left;
    }
    p {
      margin: 0;
      font-family: gillsans-light;
      font-size: .875rem;
      text-transform: uppercase;
      position: absolute;
      bottom: 0;
      right: 15px;
      i {
        margin: 0 8px;
        font-size: .1rem;
        vertical-align: middle;
      }
      span {
        font-family: gillsans-semibold;
      }
    }
  }
}

body {

  display: flex;
  flex-flow: column;
  min-height: 100vh;

}

img {
  width: 100%;
  max-width: 100%;
}

