<footer>
  <div class="container nopadding nopadding-r">


    <div class="col-xs-12 col-sm-6 col-md-3">
      <h1>Information</h1>
      <ul>
        <li><a>About us</a></li>
        <li><a>Customer Service</a></li>
        <li><a>Template Settings</a></li>
        <li><a>Privacy Policy</a></li>
        <li><a>Site Map</a></li>
        <li><a>Search Terms</a></li>
        <li><a>Advanced Search</a></li>
        <li><a>Orders and Returns</a></li>
        <li><a>Contact us</a></li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <h1>Why by from us</h1>
      <ul>
        <li><a>Shipping&amp;Returns</a></li>
        <li><a>Secure Shopping</a></li>
        <li><a>International Shipping</a></li>
        <li><a>Affiliates</a></li>
        <li><a>Group Sales</a></li>
      </ul>
    </div>

    <!-- Add the extra clearfix for sm view -->
    <div class="clearfix visible-sm-block"></div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <h1>My Account</h1>
      <ul>
        <li><a>Sing in</a></li>
        <li><a>View cart</a></li>
        <li><a>My Wishlist</a></li>
        <li><a>Track my Order</a></li>
        <li><a>Help</a></li>
      </ul>
      <div class="newsletter">
        <h1 id="newsletter_title">Newsletter</h1>

        <form id="form_newsletter">
          <input name="news_letter" type="text"/>
          <span class="allcuban-chevron-icon">
            <i class="fa fa-chevron-right"></i>
            <i class="fa fa-circle-o"></i>
          </span>
        </form>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <h1>Contact us</h1>
      <ul>
        <li>5th Avenue #4859</li>
        <li>Miramar, Playa</li>
        <li>Havana, C.P. 10400</li>
        <li>Cuba</li>
      </ul>
      <div class="contact-info">
        <ul>
          <li><i class="fa fa-phone"></i>(305) 678934</li>
          <li><a href="mailto:contacto@allcubanarts.com"><i class="fa fa-envelope-o"></i>contacto@allcubanarts.com</a>
          </li>
          <li><a href="http://www.facebook.com/allcubanarts"><i class="fa fa-facebook-f"></i>allcubanarts</a></li>
          <li>
            <a href="http://twitter.com/allcubanarts"><i class="fa fa-twitter"></i></a><a href="http://www.instagram.com/allcubanarts"><i class="fa fa-instagram"></i></a><a href="twitter.com/allcubanarts">@allcubanarts</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12  copyright">
      <div class="col-xs-12 col-sm-6 col-md-6 logo_footer">
        <%= image_tag 'logo2.png' %>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 copyright_note">
        <p><span>All rights reserved 2015</span><i class="fa fa-circle hidden-xs"></i> Designed by arcegraficos.
          branding</p>
      </div>
    </div>
  </div>
</footer>