<nav class="col-md-12 nopadding nopadding-r">
  <div id="main-nav-bar" class="navbar">
    <ul class="nav navbar-nav" data-hook>
      <%= render :partial => 'spree/shared/basic_navigation' %>
    </ul>
    <div class="nav navbar-nav navbar-right hidden-sm" data-hook>
      <ul>
          <%= render :partial => 'spree/shared/search' %>
      </ul>
      <%= render :partial => 'spree/shared/network_navigation' %>
    </div>
    <div class="nav navbar-nav navbar-right visible-sm" data-hook>
      <ul>
        <%= render :partial => 'spree/shared/search' %>
      </ul>
    </div>
  </div>
</nav>
