<nav class="navbar row " id="top-nav-bar">
    <ul id="nav-bar" class="nav navbar-nav navbar-right" data-hook>
      <li><a class="active" href="#">My Account</a></li>
      <li><a href="#">My Wishlist</a></li>
      <li><a href="#">Checkout</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Log in</a></li>
  </ul>
</nav>
