<nav class="navbar row " id="top-nav-bar">
  <ul id="nav-bar" class="nav navbar-nav navbar-right" data-hook>
    <%= render partial: 'spree/shared/secondary_navigation' %>
    <%= render partial: 'spree/shared/locales' %>
  </ul>
</nav>

