<%
   show_data||=false
   show_price_promotion||= false
%>
<article class="home-product">
  <figure>
    <%= image_tag "art#{image}.jpg" %>
    <% if show_data %>
        <%= render partial: 'image_data' %>
    <% end %>
  </figure>
  <div class="title">La Mona Lisa</div>
  <div class="price">$50.00<sub class="usd">(usd)</sub></div>
  <% if show_price_promotion %>
      <div class="price before">$72.00 <sub class="usd">(usd)</sub></div>
  <% end %>
  <div class="action">
    <a href="#">
      <%= image_tag 'cart.png' %>
    </a>
  </div>
</article>