<% product = taxon_collection_products[position]%>
<article class="promo-product <%=size%>" >
  <div class=" img">
    <%= link_to large_image(product,itemprop: "image",  class: 'img-responsive'), product%>
    <div class="data">
      <div class="picture_author"><%= product.author %></div>
      <div class="picture_title"><%=product.name %></div>
    </div>
  </div>
</article>